{% extends 'base.html.twig' %}
{% block title %} Détails oeuvre - {{ parent() }}{% endblock %}

{% block body %}

    {% for message in app.flashes('info') %}
        <div class="alert alert-dismissible alert-success" style="height: 65px">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
    {% endfor %}


    <main class="container painting">
        <section id="detail">
            <h2 class="display-5 my-5"> {{ painting.title | capitalize }}</h2>
            <ul class="nav nav-tabs mt-4">
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="tab" href="#profil">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#comments">Commentaires</a>
                </li>
            </ul>

            <div id="tabContent" class="tab-content my-5">
                <!-- profil -->
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5 my-3">
                            <img src="{{ asset('img/paintings/' ~ painting.imageName) }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-7 my-4 ml-2">
                            <h4>Description</h4>
                            <p>{{ painting.smallDescription | capitalize}}</p>
                            <h4 class="mt-4">Informations</h4>
                            <p class="description ">
                                Auteur : {{ painting.artist.lastName | capitalize }} {{ painting.artist.firstName | capitalize }}<br>
                                Date de création : {{ painting.created | date('d-m-Y') }}<br>
                                Dimensions du tableau : {{ painting.height }} X {{ painting.width }} cm<br>
                                Courant artistique : {{ painting.category.name }}<br>
                                Technique utilisée: {{ painting.technical.name }}<br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- details -->
                <div class="tab-pane fade" id="details">
                    <h4 class="my-3">Description complète</h4>
                    <p>{{ painting.fullDescription }}</p>
                </div>
                <!-- commentaires -->
                <div class="tab-pane fade" id="comments">
                    {% if comments is empty %}
                        <h4>Aucun commentaire n'a encore été publié.</h4>
                    {% else %}
                        <h4 class="my-5">Liste des commentaires</h4>
                        <div class="card">
                            {% for comment in comments %}
                                <div class="card-body">
                                    <div class="card my-2">
                                        <div class="card-body">
                                            <p class="fw-bolder">{{ comment.title | capitalize }}</p>
                                            <p class="text-decoration-underline">Auteur: {{ comment.user}}</p>
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                    <p>
                        <button class="offset-1 btn btn-primary px-4 py-2 fs-5 my-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                           Nouveau commentaire
                        </button>
                    </p>
                    <div class="offset-1" style="min-height: 150px; width: 600px">
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                            {{ form(form) }}
                        </div>
                    </div>
                    {% else %}
                    <h4 class="my-5">Vous devez être connecté pour poster un commentaire</h4>
                    <a href="{{ path('app_login') }}" type="button" class="btn btn-dark btn-sm"><i class="icofont-sign-in"></i> S'identifier</a>
                    <a href="{{path('app_registration')}}" class="btn btn-dark btn-sm"><i class="icofont-user-alt-4"></i> S'inscrire</a>
                    {% endif %}
                </div>
            </div>
            <div>
                <a href="{{ path('app_paintings') }}" class=" btn btn-outline-dark my-4 mx-2 text-end">Retour aux oeuvres</a>
            </div>
        </section>
    </main>
{% endblock %}