{% extends 'base.html.twig' %}

{% block title %}Toutes les oeuvres - {{ parent() }}{% endblock %}

{% block body %}
    <main class="container paintings">
        <!-- Categories -->
        <section id="paintings-gallery">
            <h2 class="display-5 my-5">La galerie d'oeuvres</h2>
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter">
                    <ul>
                        <!-- For filtering controls add -->
                        <li data-filter="all" class="btn btn-outline-primary"> Toutes les oeuvres </li>
                        {% for category in categories %}
                            <li data-filter="{{ category.id }}" class="btn btn-outline-primary"> {{ category.name}} </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- FILTERIZER PAINTINGS -->
                <div class="col-md-12 filter-container" style="overflow: hidden;">
                    <!-- Card -->
                    {% for painting in paintings %}
                        <div class="col-md-4 filtr-item" data-category="{{ painting.category.id }}" data-sort="value">
                            <div class="card m-4" style="min-height: 500px !important;">
                                <div class="card-header bg-light">
                                    <h4 class="text-center">{{ painting.title|capitalize }}</h4>
                                </div>
                                <div class="card-body" style="height: 200px; max-height: 200px;">
                                    <img alt="" src="{{ asset('img/paintings/' ~ painting.imageName) }}">
                                    <p class="card-text">
                                    <h5 class="card-subtitle my-3"> {{painting.artist.lastName }} {{ painting.artist.firstName }}</h5>
                                    <p>{{ painting.smallDescription|capitalize }}</p>
                                    <div class="text-center">
                                        <a class="btn my-1 btn-primary btn-sm" href="{{ path('app_painting', {slug: painting.slug}) }}">Détails</a>
                                        <a class="btn my-1 btn-primary btn-sm" href="{{ path('app_cart_add', {id: painting.id}) }}"><i class="icofont-shopping-cart"></i></a>
                                        <a class="btn my-1 btn-link btn-sm js-like" style="text-decoration: none" href="{{ path('app_painting_like', {id: painting.id}) }}">

                                            {% if app.user and painting.isLikedByUser(app.user) %}
                                                <i class="fas fa-heart"></i>
                                            {% else %}
                                                <i class="far fa-heart"></i>
                                            {% endif %}
                                            <span class="js-likes">{{ painting.likes | length }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- End card -->
                </div>
            </div>
        </section>
        <!-- End Categories -->
    </main>

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function onClickBtnLike(event) {
                event.preventDefault();

                const url = this.href;
                const spanCount = this.querySelector('span.js-likes');
                const icone = this.querySelector('i');

                // .then = promesse : si ça se passe bien
                axios.get(url).then(function(response){
                    spanCount.textContent = response.data.likes;

                    // si tu contiens la classe fas et que tu as le pouce rempli, au click le pouce sera vide (unlike)
                    if(icone.classList.contains('fas')) {
                        icone.classList.replace('fas', 'far');
                    } else {
                        icone.classList.replace('far', 'fas');
                    }
                    // Si ça n'a pas fonctionné
                }).catch(function(error){
                    if(error.response.status === 403 ) {
                        // Pour une erreur liée à la connexion du user
                        window.alert("Vous ne pouvez pas liker une peinture si vous êtes déconnectés.");
                    } else {
                        // Pour tout autre type d'erreur
                        window.alert("une erreur s'est produite, réessayez plus tard!");
                    }
                })
            }
            document.querySelectorAll('a.js-like').forEach(function(link){
                link.addEventListener('click', onClickBtnLike);
            })
        </script>
    {% endblock %}

    {# FILTERIZR #}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}

