
    <footer class="py-3 mt-5 bg-dark" style="height:100%">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ path('app_home') }}" class="px-2">accueil</a></li>
            <li class="nav-item"><a href="{{ path('app_paintings') }}" class="px-2">notre galerie</a></li>
            <li class="nav-item"><a href="{{ path('app_articles') }}">notre journal</a></li>
            <li class="nav-item"><a href="{{ path('app_about') }}" class="px-2">à propos de nous</a></li>
            <li class="nav-item"><a href="{{ path('app_team') }}" class="px-2">notre équipe</a></li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a href="{{ path('app_contact') }}">Contactez-nous</a>
                </li>
            {% endif %}
        </ul>
        <p class="text-center pb-4"> Galerie Maudoux, depuis 1995.</p>
        <div class="media text-center ">
            <a href=""><i class="icofont-facebook"></i></a>
            <a href=""><i class="icofont-google-plus"></i></a>
            <a href=""><i class="icofont-instagram"></i></a>
            <a href=""><i class="icofont-twitter"></i></a>
            <a href=""><i class="icofont-youtube"></i></a>
        </div>
    </footer>

