{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Galerie Maudoux</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}">accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_paintings') }}">la galerie</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_artists') }}">les artistes</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_articles') }}">le journal</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_about') }}">à propos de nous</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_team') }}">l'équipe</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex">
                {% if not app.user %}
                    <a href="{{ path('app_login') }}" type="button" class="btn btn-dark btn-sm"><i class="icofont-sign-in"></i> S'identifier</a>
                    <a href="{{path('app_registration')}}" class="btn btn-dark btn-sm"><i class="icofont-user-alt-4"></i> S'inscrire</a>
                {% else %}
                    <div class="dropdown" style="padding-right: 25px;">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{asset('img/user/') ~ app.user.imageName }}" class="img-user">&nbsp;&nbsp;{{ app.user.firstName }} {{ app.user.lastName }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_view_profile') }}">Voir mon profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_edit_profile') }}">Modifier mon profil</a></li>
                            <li><a class="dropdown-item" href="#">Modifier mon mot de passe</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('app_admin_paintings') }}" class="dropdown-item">Administration</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a href="{{path('app_logout')}}" class="dropdown-item">Se déconnecter</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}