<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Galerie Maudoux{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <!-- Icofont -->
            <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <!-- Style css -->
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <!-- Favicon -->
            <link rel="icon" href="{{ asset('img/favicon/2.jpg') }}">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}

       <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

    </body>
</html>
