
{% extends 'base.html.twig' %}

{% block title %} Article - {{ parent() }}{% endblock %}

{% block body %}

    <main class="container-article m-3" style="max-width: 1500px">
        <div class="card mb-3 mt-5 offset-2">
            <div class="row g-0 align-items-center" >
                <div class="col-md-5 ">
                    <img src="{{ asset('/img/articles/' ~ article.imageName) }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-7">
                    <div class="card-body text-lg-center ">
                        <h4 class="pt-4 card-title lead fw-bolder">{{ article.name | capitalize}}</h4>
                        <p class="card-text pt-2 lead"><small class="text-muted">Créé le : {{ article.createdAt | date('d/m/Y') }}</small></p>
                        <p class="card-text p-3 lead">{{ article.content }}</p>
                        <div>
                            <a href="{{ path('articles') }}" class="btn btn-outline-dark">Retour aux articles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}