{% extends 'base.html.twig' %}

{% block title %}Journal - {{ parent() }}{% endblock %}

{% block body %}
    <main class="container-articles">
        <section class="row offset-2 text">
            <div class="col-md-8">
                <h2 class="display-5 my-5">Le journal de la galerie</h2>
                {% for article in articles %}
                    <div class="card">
                        <h5 class="card-header text-lg-center py-3 ">{{ article.name|capitalize }}</h5>
                        <div class="card-body row">
                            <div class="col-2">
                                <img src="{{ asset('img/articles/') ~ article.imageName }}" alt="{{ article.name }}">
                            </div>
                            <div class="col-8 mx-5">
                                <p class="card-text lead">{{ article.description }}</p>
                                <div class="text-end pt-5 pb-2">
                                    <a class="btn mt-5 px-3 py-1 btn-primary btn-sm" href="{{ path('app_article', {slug: article.slug}) }}">Lire plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Créée le : {{ article.createdAt|date('d/m/Y') }}
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row">
                <div class="col-md-8 offset-2">
                    <div class="navigation">
                        {{ knp_pagination_render(articles) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
