{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <main class="container-cart offset-2 my-5">
        {% if dataPanier is empty %}
            <h4>Votre panier est actuellement vide</h4>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>Tableau</th>
                    <th>Prix du tableau</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for element in dataPanier %}
                    <tr>
                        <td >{{ element.painting.title | capitalize }}</td>
                        <td>{{element.painting.price | format_currency('EUR', locale='fr') }}</td>
                        <td class="qtt">{{ element.quantity }}</td>
                        <td class="text-end">{{ (element.quantity * element.painting.price) | format_currency('EUR', locale='fr') }}</td>
                        <td>
                            <a href="{{path("app_cart_del", {id: element.painting.id})}}" class="btn btn-danger">
                                <i class="icofont-ui-delete"></i>
                            </a>
                        </td>
                    </tr>

                {% else %} {# si le tableau est vide #}
                    <tr>
                        <td colspan="5" class="text-center">Votre panier est vide</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">Montant total à payer</td>
                    <td class="text-end">{{ total | format_currency('EUR', locale='fr')}}</td>
                    <td>
                        <a href="{{path("app_cart_delAll")}}" class="btn btn-danger">
                            <i class="icofont-ui-delete"></i>
                        </a>
                    </td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
        <div>
            <a href="{{ path('app_paintings') }}" class="btn btn-outline-dark my-4 mx-2">Retour aux oeuvres</a>
            <a href="{{ path('app_wishlist') }}" class="btn btn-outline-dark my-4 mx-2">Retour aux favoris</a>
        </div>
    </main>

{% endblock %}